<form action="/add" method="POST">
    <p>Title: </p>
    <input type="text" name="títle">
    
    <p>Conteudo: </p>
    <input type="text" name="conteudo">
    
    <button type="submit">Hellor World</button>
</form>